

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
}

header img {
    margin-left: 50px;
}

header img {
    height: 172px;
    width: auto;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-left: 900px;
    justify-content: space-between;
    width: 200px;
    font-size: 20px;
    gap:20px;
    cursor: pointer;
    
}

section {
    background-image: url("assets/backgroundimage.jpg");
    height: 660px;
    color: #fff
}

.main-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    font-family: 'You Blockhead';
   
}

.desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    font-family: 'You Blockhead';
   
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 300px;
    gap: 40px;
}


.alm {
    background-image: url("assets/download.png") ;
    height: 135px;
    width: 230px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'You Blockhead';
}


.adw {
    background-image: url("assets/download.png") ;
    height: 135px;
    width: 230px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'You Blockhead';

}

footer {
    display: flex;
    justify-content: center;
    flex-direction:row;
    height: 5px;
    align-items: center;
    margin-top: 10px;

}


/* NOTEBOOK */

@media (min-width:1024px) and (max-width:1540px) {
    header {
        display: flex;
        flex-direction: row;
        height: 80px;
        align-items: center;
    }
    
    header img {
        margin-left: 50px;
        
    }
    
    header img {
        height: 172px;
        width: auto;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        margin-left: 400px;
        justify-content: space-between;
        width: 200px;
        font-size: 20px;
        gap:20px;
        cursor: pointer;
        
    }
    
    section {
        background-image: url("assets/backgroundimage.jpg");
        height: 665px;
        color: #fff
    }
    
    .main-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 22px;
        font-family: 'You Blockhead';
       
    }
    
    .desc {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 17px;
        font-family: 'You Blockhead';
       
    }
    
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 200px;
        gap: 40px;
    }
    
    
    .alm {
        background-image: url("assets/download.png") ;
        height: 135px;
        width: 230px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: 'You Blockhead';
    }
    
    
    .adw {
        background-image: url("assets/download.png") ;
        height: 135px;
        width: 230px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: 'You Blockhead';
    
    }
    
    footer {
        display: flex;
        justify-content: center;
        flex-direction:row;
        height: 5px;
        align-items: center;
        margin-top: 10px;
    
    }
    
}

@media (min-width:768px) and (max-width:1024px) {
    header {
        display: flex;
        flex-direction: row;
        height: 80px;
        align-items: center;
    }
    
    header img {
        margin-left: 50px;
        
    }
    
    header img {
        height: 152px;
        width: auto;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        margin-left: 300px;
        justify-content: space-between;
        width: 200px;
        font-size: 20px;
        gap:20px;
        cursor: pointer;
        
    }
    
    section {
        background-image: url("assets/backgroundimage.jpg");
        height: 665px;
        color: #fff
    }
    
    .main-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 22px;
        font-family: 'You Blockhead';
       
    }
    
    .desc {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 17px;
        font-family: 'You Blockhead';
       
    }
    
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 200px;
        gap: 40px;
    }
    
    
    .alm {
        background-image: url("assets/download.png") ;
        height: 135px;
        width: 230px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: 'You Blockhead';
    }
    
    
    .adw {
        background-image: url("assets/download.png") ;
        height: 135px;
        width: 230px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: 'You Blockhead';
    
    }
    
    footer {
        display: flex;
        justify-content: center;
        flex-direction:row;
        height: 5px;
        align-items: center;
        margin-top: 10px;
    
    }
    
}

@media (min-width:320px) and (max-width:768px) {
    header {
        display: flex;
        flex-direction: row;
        height: 80px;
        align-items: center;
    }
    
    header img {
        margin-left: 10px;
        
    }
    
    header img {
        height: 70px;
        width: auto;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        margin-left: 60px;
        justify-content: space-between;
        width: 200px;
        font-size: 20px;
        gap:10px;
        cursor: pointer;
        
    }
    
    section {
        background-image: url("assets/backgroundimage.jpg");
        height: 610px;
        color: #fff
    }
    
    .main-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 22px;
        font-family: 'You Blockhead';
       
    }
    
    .desc {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 17px;
        font-family: 'You Blockhead';
       
    }
    
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        gap: 10px;
    }
    
    
    .alm {
        background-image: url("assets/download.png") ;
        height: 135px;
        width: 230px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: 'You Blockhead';
    }
    
    
    .adw {
        background-image: url("assets/download.png") ;
        height: 135px;
        width: 230px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: 'You Blockhead';
    
    }
    
    footer {
        display: flex;
        justify-content: center;
        flex-direction:row;
        height: 5px;
        align-items: center;
        margin-top: 10px;
    
    }
    
}

@media (min-width:300px) and (max-width:375px) {
    header {
        display: flex;
        flex-direction: row;
        height: 80px;
        align-items: center;
    }
    
    header img {
        margin-left: 10px;
        
    }
    
    header img {
        height: 70px;
        width: auto;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        margin-left: 19px;
        justify-content: space-between;
        width: 150px;
        font-size: 15px;
        gap:5px;
        cursor: pointer;
        
    }
    
    section {
        background-image: url("assets/backgroundimage.jpg");
        height: 610px;
        color: #fff
    }
    
    .main-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 22px;
        font-family: 'You Blockhead';
       
    }
    
    .desc {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 17px;
        font-family: 'You Blockhead';
       
    }
    
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        gap: 10px;
    }
    
    
    .alm {
        background-image: url("assets/download.png") ;
        height: 135px;
        width: 230px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: 'You Blockhead';
    }
    
    
    .adw {
        background-image: url("assets/download.png") ;
        height: 135px;
        width: 230px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: 'You Blockhead';
    
    }
    
    footer {
        display: flex;
        justify-content: center;
        flex-direction:row;
        height: 5px;
        align-items: center;
        margin-top: 10px;
    
    }
    
}