body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
}

header img {
    margin-left: 50px;
}

header img {
    height: 172px;
    width: auto;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-left: 900px;
    justify-content: space-between;
    width: 200px;
    font-size: 20px;
    gap:20px;
    
}

section {
    background-image: url("assets/backgroundimage.jpg");
    height: 665px;
    color: #fff
}

.main-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
   
}

.desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
   
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 300px;
    gap: 40px;
}


.alm {
    background-color: blue ;
    height: 40px;
}

.adw {
    height:100px;
    width: 200px;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction:row;
    height: 5px;
    align-items: center;
    margin-top: 10px;

}


